.env
venv/
**pytest_cache/
**__pycache__/
*.pyc
db.sqlite3
.DS_Store
.idea/
.vscode/
*.log
*.pot
*.pyc
*.pyo         
.coverage  
htmlcov/
.tox/
.nox/
dist/
build/
*.egg-info/
.eggs/
pip-wheel-metadata/
__pypackages__/
.ipynb_checkpoints/
.envrc
.env.local
.env.*.local
celerybeat-schedule
instance/
.webassets-cache/
.scrapy/        
schema.yml